.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: $sm-size;
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    margin-bottom: $med-size;
  }
}

.input-group__item {
  margin-bottom: $sm-size;
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
      margin: 0 $sm-size 0 0 ;
  }
}
