
* {
  box-sizing: border-box;  
}

html {
  font-size: 62.5%; //makes 1rem = 10px
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: $dark-gray;
  font-size: $std-size;
  background: white;
  line-height: 1;
}

button {
  cursor: pointer;
  background-color: $light-blue;
  color: white;
  padding: $std-size;
  font-weight: 300;
  font-size: $std-size;
  border-radius: 5px;
}

button:disabled {
  cursor: default;
}

h1 {
  font-size: $med-size;
}

.myLinkButton {
  cursor: pointer;
  background-color: $light-blue;
  color: white;
  padding: $std-size;
  font-weight: 300;
  font-size: $std-size;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  line-height: 1;

}

.is-active {
  font-weight: bold;
  color: red;
}
.link {
  color: white;
    font-weight: normal;
}
